 :root{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(156, 150, 150);
    padding: 2% 2%;
    height: auto;
    font: "Helvetica";
    display:grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 10vw;
}
p{
    font-size: 24px;
}
#dash{
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  float: left;
  font: 14px/24px "Helvetica";
  background-color: rgb(99, 94, 94);
  color:white;
  height:300px;
  border-style:solid;
}
#review {
    grid-area: 1 / 2 / 1 / 3;
    background-color: rgb(99, 94, 94);
    grid-gap: 10% 10%;
    padding: 1% 1%;
    margin: 1% 1%;
}
#rating {
    grid-area: 3/span 1;
    display: grid;
    background-color: rgb(99, 94, 94);
    padding: 1% 1%;
    margin: 1% 1%;
}
#analysis {
    
    grid-area: 4/span 1;
    background-color: rgb(99, 94, 94);
    padding: 1% 1%;
    margin: 1% 1%;
}
#visitors {
    
    grid-area: 2/span 3;
    background-color: rgb(99, 94, 94);
    padding: 1% 1%;
    margin: 1% 1%;
}
