 :root{
    font-family: Arial, Helvetica, sans-serif;
}
body {
  display:grid;
}
#wrapper {
    display: grid;
    grid-template-areas:
      "dash review rating analysis"
      "dash visitors visitors visitors"
      "dash visitors visitors visitors";
    background-color: rgba(189, 184, 184, 0.3);
  }
  
  #module{
    justify-content: center;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 34vh;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(100, 99, 99, 0.712);
    border:solid;
  }
  /*Vertical navigation bar*/
  #module > dash {
    width: 150px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
    grid-area:dash;
  }
  /*Review section style*/
  #module > review {
    grid-area: review;
  }
  /*Rating section style*/
  #module > rating {
    grid-area: rating;
  }
  /*Sentiment section style*/
  #module > analysis {
    grid-area: analysis;
  }
  /*Visitor section style*/
  #module > visitors {
    grid-area: visitors;
  }