.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.parent{
  display: grid;
  border: solid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  position: absolute;
}
#underlayer {
display: flex;
justify-content: center;
align-content: center;
font-size: 16pt;
  z-index:-1;
}
#child1{
  background:magenta;
  height:100px;
  width:100px;
  transition: all ease-in-out 1s;
}
.parent:hover #child1{
  transform: rotate(90deg)
    translateY(90%);
}
#child2{
  background:purple;
  height:100px;
  width:100px;
  transition: all ease-in-out 1s;
}
.parent:hover #child2{
  transform: rotate(-90deg)
 translateY(90%);
}
#child3{
  background:teal;
  height:100px;
  width:100px;
  transition: all ease-in-out 1s;
}
.parent:hover #child3{
  transform: rotate(-90deg)
    translateY(-90%);

}
#child4{
  background:silver;
  height:100px;
  width:100px;
  transition: all ease-in-out 1s;
}
.parent:hover #child4{
  transform: rotate(90deg)
    translateY(-90%);
}
}
